@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

::-webkit-scrollbar {
  -webkit-appearance: none;
          appearance: none;
  background: transparent;
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  -webkit-appearance: none;
          appearance: none;
  background: #455a64;
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  -webkit-appearance: none;
          appearance: none;
  background: #d4d4d4;
  border-radius: 10px;
}

#app {
  width: 100vw;
  height: 100vh;
  overflow: auto;
  min-height:100%;
  background-image: linear-gradient(#70C1B3, #247BA0);
}

.box {
	background: #fff;
	border: 1px solid rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
	        box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
	max-width: 800px;
	color: #263238;
  margin: auto;
  margin-top: 100px;
	font-family: "Roboto";
	-webkit-transform: scale(1);
	    -ms-transform: scale(1);
	        transform: scale(1);
	-webkit-transition: -webkit-transform 0.3s ease;
	transition: -webkit-transform 0.3s ease;
	-o-transition: transform 0.3s ease;
	transition: transform 0.3s ease;
	transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.box .question {
	padding: 40px;
	line-height: 40px;
	font-family: "Roboto";
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.box .question h4 {
	color: #a3a2b6;
}

.box .question p {
	font-size: 1.4rem;
}

.box .answer {
	padding: 20px;
	padding-right: 5px;
	line-height: 30px;
	-webkit-transition: 0.3s ease;
	-o-transition: 0.3s ease;
	transition: 0.3s ease;
}

.box .answer:not(:last-of-type) {
	border-bottom: 1px solid rgba(0,0,0,.1);
}

.box .answer:hover {
	background: #f0f0f0;
	cursor: pointer;
	-webkit-transition: 0.3s ease;
	-o-transition: 0.3s ease;
	transition: 0.3s ease;
}

.box .answer .icon {
	color: #8c8c8c;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	border: 2px solid #8c8c8c;
	-webkit-transform: scale(0.8);
	    -ms-transform: scale(0.8);
	        transform: scale(0.8);
}

.box .answer.checked .icon {
	border-color: #2196F3;
	color: #2196F3;
}

.box .answer.checked {
	background: #E3F2FD;
	-webkit-box-shadow: 0 0 0 1px #2196F3 inset;
	        box-shadow: 0 0 0 1px #2196F3 inset;
}

.box .answer.true .icon {
	border-color: #4CAF50;
	color: #4CAF50;
}

.box .answer.true {
	background: #e8f5e9;
	-webkit-box-shadow: 0 0 transparent;
	        box-shadow: 0 0 transparent;
}

.box .answer.false .icon {
	border-color: #f44336;
	color: #f44336;
}

.box .answer.false {
	background: #FFEBEE;
	-webkit-box-shadow: 0 0 transparent;
	        box-shadow: 0 0 transparent;
}

.box .answer.not--included .icon {
	border-color: #FF9800;
	color: #FF9800;
}

.box .answer.not--included {
	background: #FFF3E0;
	-webkit-box-shadow: 0 0 transparent;
	        box-shadow: 0 0 transparent;
}

.box .answer.init .icon {
	color: #8c8c8c;
	border-color: #8c8c8c;
}

.box .answer.init {
	background: transparent;
	-webkit-box-shadow: 0 0 transparent;
	        box-shadow: 0 0 transparent;
}

@media screen and (max-width: 440px) {
	.box {
		-webkit-transform: scale(0.95);
		    -ms-transform: scale(0.95);
		        transform: scale(0.95);
		-webkit-transition: -webkit-transform 0.3s ease;
		transition: -webkit-transform 0.3s ease;
		-o-transition: transform 0.3s ease;
		transition: transform 0.3s ease;
		transition: transform 0.3s ease, -webkit-transform 0.3s ease;
	}
}

.options {
	width: 100%;
	max-width: 440px;
	margin: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin-top: 10px;
	overflow: hidden;
	border-radius: 10px;
	-webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
	        box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
	-webkit-transition: 0.3s ease;
	-o-transition: 0.3s ease;
	transition: 0.3s ease;
  margin-bottom: 50px;
  z-index: 2;
}

.options button {
	background: white;
	border: 0;
	padding: 15px 30px;
	cursor: pointer;
	font-size: 2rem;
	outline: 0;
	color: #8c8c8c;
	-webkit-transition: 0.3s ease;
	-o-transition: 0.3s ease;
	transition: 0.3s ease;
}

.options button:hover {
	color: #585858;
	-webkit-transition: 0.3s ease;
	-o-transition: 0.3s ease;
	transition: 0.3s ease;
}

.options button.disable {
	background: #e8e8e8;
	color: #bbb;
	cursor: auto;
}

.options button.active {
	color: #4caf50;
}

@media screen and (max-width: 440px) {
	.options {
		width: 250px;
	}
	.options button {
		padding: 8px 15.3px;
		font-size: 1.4rem;
	}
}

footer {
  background: #2b2f32;
  color: white;
  font-size: 0.7rem;
  font-family: "Roboto";
  padding: 2px 4px;
  opacity: 0.1;
  -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
  width: 140px;
  text-align: center;
  -webkit-transition: opacity .3s ease;
  -o-transition: opacity .3s ease;
  transition: opacity .3s ease;
  margin: auto;
  margin-top: -50px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 1;
}
footer:hover {
  opacity: 0.9;
  -webkit-transition: opacity .3s ease;
  -o-transition: opacity .3s ease;
  transition: opacity .3s ease;
}
footer .heart {
  color: #f44336;
}
footer a {
  color: #787878;
  text-decoration: none;
}
footer a:hover {
  color: #a0a0a0;
}
